
<div>
  <%= flash[:notice] %>
</div>

<p>
    <strong>Title:</strong>
    <%= @book.title %>
</p>
<p>
    <strong>Body:</strong>
      <%= @book.body %></P>

        <span>
          <%= link_to "edit", edit_book_path(@book.id) %>
        </span>
         |
        <span>
          <%= link_to "Back", books_path(@book.id) %>
        </span>